
<div class="loading" *ngIf="loading"></div>
<div class="form-row">  
  <div class="col-lg-4"></div>
  <div class="form-group col-lg-4 col-lg-offset-4">
    <input class="form-control" id="branchFilter" type="text" placeholder="Filtrar Sucursales"
      style="text-align: center;border: 1px solid slategrey;"
    (input)="getClientBranchesByName($event.target.value)">
  </div>
  <div class="col-lg-4"></div>
</div>

<div class="container" *ngIf="clientBranches && clientBranches.length > 0; else withoutClientBranches">
    <h3 class="h3 font-weight-bold">Sucursales</h3>
    <div *ngIf="clientBranches" class="row">
        <client-branch *ngFor="let branch of clientBranches" 
        [idBranch]= "branch.Id"  class="col-md-4 col-sm-6" style="margin-bottom: 10px;"></client-branch>
    </div>
</div>
<ng-template #withoutClientBranches>
    <h3 class="h3 font-weight-bold text-center">Sin sucursales creadas</h3>
  </ng-template>
<hr>
