<div class="container" *ngIf="clientBranches">
    <h3 class="h3">Sucursales</h3>
    <div *ngIf="clientBranches" class="row">
        <client-branch *ngFor="let branch of clientBranches" 
        [idBranch]= "branch.Id"  class="col-md-3 col-sm-6"></client-branch>
    </div>
    <!-- <ul>
        <li *ngFor="let branch of clientBranches" class="clientBranch">
          <a [routerLink]="['/branch',branch.Id]">
    
            <h2>{{branch.Name}}</h2>
            <p>{{branch.Country}}</p>
            <p>{{branch.City}}</p>
          </a>
        </li>
    </ul> -->
</div>
<hr>
