<div class="row" *ngIf="clientBranch">
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://image.maps.api.here.com/mia/1.6/mapview?app_id=GKbW51R76GaTBa6bFwL5&app_code=q6k7HAObzmME1LnxgpIQRw"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h4 class="card-title">
            <strong>{{clientBranch.ClientBranchName}}</strong>
          </h4>
          <h5>{{clientBranch.Country}}</h5>
          <h6>{{clientBranch.City}}</h6>
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
  
          <!--Facebook-->
          <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
            <i class="fab fa-facebook-f"></i>
          </a>
          <!--Twitter-->
          <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
            <i class="fab fa-twitter"></i>
          </a>
          <!--Google +-->
          <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbWavesEffect>
            <i class="fab fa-dribbble"></i>
          </a>
  
        </mdb-card-body>
        <!--/.Card content-->
      </mdb-card>
      <!--/.Card-->
    </div>
  </div>