<div *ngIf="clientBranch">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{clientBranch.Image}}" alt="Imagen Sucursal">
    <div class="card-body">
      <h5 class="card-title">{{clientBranch.Id}}</h5>
      <p class="card-text">{{clientBranch.Description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{clientBranch.Country}}</li>
      <li class="list-group-item">{{clientBranch.City}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Revisar Clima</a>
      <a href="#" class="card-link">Editar</a>
      <!-- <a href="#" class="card-link">Eliminar</a> -->
    </div>
  </div>
</div>

<!-- <div class="row" *ngIf="clientBranch">
    <div class="col-md-4">
      
      <mdb-card cascade="true">
  
        
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://image.maps.api.here.com/mia/1.6/mapview?app_id=GKbW51R76GaTBa6bFwL5&app_code=q6k7HAObzmME1LnxgpIQRw"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        
        <mdb-card-body cascade="true" class="text-center">
          
          <h4 class="card-title">
            <strong>{{clientBranch.ClientBranchName}}</strong>
          </h4>
          <h5>{{clientBranch.Country}}</h5>
          <h6>{{clientBranch.City}}</h6>
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
  
          
          <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
            <i class="fab fa-facebook-f"></i>
          </a>
          
          <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
            <i class="fab fa-twitter"></i>
          </a>
          
          <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbWavesEffect>
            <i class="fab fa-dribbble"></i>
          </a>
  
        </mdb-card-body>
        
      </mdb-card>
      
    </div>
  </div> -->