<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand linkLogo" href="#">
      <img  class="imgLogo" src="../assets/img/logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/branches']" [routerLinkActive]="['actived']">Sucursales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/create-branch']" [routerLinkActive]="['actived']" >Crear Sucursal</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>


<footer class="footer">
    <div class="container">
      <span class="text-muted">MV Factory Branches &copy;</span>
    </div>
  </footer>