USE [master]
GO
/****** Object:  Database [MVF]    Script Date: 02/06/2019 19:00:07 ******/
CREATE DATABASE [MVF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MVF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MVF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MVF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVF]
GO
/****** Object:  Table [dbo].[ClientBranch]    Script Date: 02/06/2019 19:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientBranch](
	[ClientBranchID] [int] IDENTITY(1,1) NOT NULL,
	[ClientBranchName] [nvarchar](50) NOT NULL,
	[WeatherID] [int] NOT NULL,
	[Country] [varchar](30) NOT NULL,
	[City] [varchar](30) NOT NULL,
	[Address] [nvarchar](70) NOT NULL,
	[ClientBranchDescription] [varchar](250) NULL,
	[Image] [varchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL
PRIMARY KEY CLUSTERED 
(
	[ClientBranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weather]    Script Date: 02/06/2019 19:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weather](
	[WeatherID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](30) NOT NULL,
	[Summary] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [int] NULL,
	[Latitude] [numeric](4, 2) NOT NULL,
	[Longitude] [numeric](4, 2) NOT NULL,
	[Temperature] [numeric](4, 2) NOT NULL,
	[Temp_Min] [numeric](4, 2) NOT NULL,
	[Temp_Max] [numeric](4, 2) NOT NULL,
	[Humidity] [nvarchar](3) NOT NULL,
	[Clouds] [nvarchar](3) NOT NULL,
	[Pressure] [nvarchar](5) NOT NULL,
	[WindDirection] [nvarchar](5) NOT NULL,
	[WindSpeed] [numeric](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WeatherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientBranch]  WITH CHECK ADD FOREIGN KEY([WeatherID])
REFERENCES [dbo].[Weather] ([WeatherID])
GO
USE [master]
GO
