@font-face { 
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}

@font-face {
    font-family: "finger";
    src: url("fonts/finger.ttf");
}

/*Generales*/
body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background: url("../img/pattern.png");
    background-attachment: fixed; /*Para que el fondo se quede fijado*/
}

*{
    margin:0px;
    padding:0px;
}

.clearFix{
    float:none;
    clear:both;
}

/*Barra de navegacion /Header */
header{
    width:100%;
    height: 90px;
    background: rgba(53,103,164, 0.8);
    position:fixed; /*Para que cuando haga scroll en la web, no se mueva el header*/
    text-transform: uppercase;
}

header ul{
    display: block;
    width: 42%;
    height: inherit; /*Hereda el height del padre*/
    margin: 0px auto;
    margin-top: -3px;
}

header ul li{
    display:inline-block; /*Para que cada elemento este uno al lado del otro*/
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit; /*Heredada del padre, seria 90px*/
    text-decoration: none;
    color:white;
    transition:all 300ms;
}

header a:hover, .actived{

    background: rgba(0,0,0,0.8);
}

/*Logotipo*/
#logo{
    font-family: "finger";
    font-size: 30px;
}

#logo a{
    transition:color 500ms, transform 500ms;
}

#logo a:hover{
    background: transparent;
    color:black;
    transform:scale(1.50, 1.50);
}

/*Contenedor principal*/

#content{
    min-height: 600px;
    height: auto; /*Para que se agrande cuando se crean muchos proyectos*/
    width: 90%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, '0.7'); /*Para hacer un blanco un poco apagado usamos el 0.7*/
    padding-top: 120px;
}


/* Pie de Pagina /Footer */

footer {
    width:75%;
    margin: 0px auto;
    padding-top:15px;
    opacity: rgba(0,0,0,0.5); /*Deja mas opaco al footer*/
}

/*Sobre mi (about)*/

#title{
    width:70%;
    margin:0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

#title h1{
    font-family: "finger";
    font-size:60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#title h2{
    font-size:25px;
    color:gray;
    margin-top:5px;
    margin-bottom:5px;
}

article.about{
    width:70%;
    margin:0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.about h2 {
    border-bottom: 1px solid #ccc; /*Para poner una linea justo entre el texto y el titulo*/
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p {
    padding-top:20px;
    padding-bottom:30px;
    text-align: justify;
}

/*Pagina de Sucursales*/

.clientBranch{
    list-style: none; /*Para que no muestre los puntitos de la lista*/
    display:block;
    float:left;
    width: 28%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
}
.clientBranch img{
    width: 100%;
}

.clientBranch .image {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.clientBranch a{
    text-decoration: none;
    color: black;
}
/*Fin Pagina Sucursales*/


input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: #28a745;
}

.green-icon{
    color: #28a745;
}

.red-icon{
    color:#dc3545;
}

#toast-container > div {
    opacity:1;
}